@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom right,
    #374151,
    #111827,
    #030712
  ); /* gray-700 via gray-900 to gray-950 */
  color: white;
}

.slick-slide > div {
  margin: 0 10px;
}
